/* Define el tamaño del logo en el navegador*/
.logo{
   max-width: 121px;
   text-align: center;
}

/* Define la posicion del logo y los vinculos en el navegador*/
nav{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: #5DFDCB;
}

/* Define el color gris para la página en la que nos encontramos*/
.grisado{
   color: grey;
}

/* Define el formato de los vínculos*/
a{
   font-family: Jura;
   font-weight: bold;
   font-size: auto;
   color: black;
   text-decoration: none;
   margin-top: 46px;
   width: 163px;
   height: 20px;
   text-align: center;
}

/* Define el formato del botón de iniciar sesión*/
.iniciarsesion{
   font-family: Jura;
   color: #5DFDCB;
   background-color: black;
   font-size: 20px;
   text-decoration: none;
   margin-top: 31px;
   padding-top: 11px;
   padding-bottom: 15px;
   padding-right: 18px;
   padding-left: 18px;
   border-radius: 12%;
}

/* Define el formato del botón de iniciar sesión cuando el cursos pasa por encima*/
.iniciarsesion:hover{
   background-color: gray;
}

/* Define la foto de fondo de la página inicio*/
.fondoinicio {
   background-image: url(../Imagenes/tablasnavegando.png);
   background-size: 100%;
}

/* Define la foto de fondo de la página servicio*/
.fondoservicio{
   background-image: url(../Imagenes/Esquiadorenlamontana.png);
   background-size: 100%;
}

/* Define la foto de fondo de la página sobrenosotros*/
.fondosobrenosotros{
   background-image: url(../Imagenes/kiterenmar.png);
   background-size: 90%;
}

/* Define la foto de fondo de la página beneficios*/
.fondobeneficios{
   background-image: url(../Imagenes/hickerenmontana.png);
   background-size:100%
}

/* Define la foto de fondo de la página contactanos*/
.fondocontactanos{
   background-image: url(../Imagenes/rapelconmontana.png);
   background-size: 100%;
}

/* Define la foto de fondo de la página donaciones*/
.fondodonaciones{
   background-image: url(../Imagenes/hickerdonacionesenlamontana.png);
   background-size: 100%;
}

/* Define la foto de fondo de la página iniciar sesión*/
.fondoiniciarsesion{
   background-image: url(../Imagenes/kayakenmar.png);
   background-size: 100%;
}

/* Define el formato de texto de los titulos principales*/
main h1{
   font-family: Paytone One;
   color: #5DFDCB;
   font-size: 304px;
   margin-top: 0px;
   margin-bottom:0px;
   text-align: center;  
}

/* Ajusta el formato de texto del titulo principal de la página servicio*/
.textoservicio h1{
   font-size: 270px;
   text-align:left;
}

/* Ajusta el formato de texto del titulo principal de la página sobre nosotros*/
.textosobrenosotros h1{
   font-size: 150px;
   text-align: left;
   margin-left: 57%;
   height: 120px;
   margin-top: 0px;
}

/* Ajusta el formato de texto del titulo principal de la página contactanos*/
.textocontactanos h1{
   font-family: Paytone One;
   color: #5DFDCB;
   font-size: 64px;
   margin-top: 111px;
   margin-left: 130px;
   margin-bottom:40px;
   text-align: left;
}

.textocontactanos textarea{
   resize: none;
}

/* Ajusta el formato de texto del titulo principal de la página donaciones*/
.textodonaciones h1{
   text-align:left;
   font-size: 260px;
}

/* Ajusta el formato de texto del titulo principal de la página iniciar sesión*/
.textoiniciarsesion h1{
   margin-top: 120px;
   margin-bottom: 60px;
   font-size: 100px;
   text-align:center;
}

/* Define el formato de texto del párrafo de la página servicio*/
.parrafoservicio{
   font-family: Jura;
   font-size: 20px;
   color: black;
   font-weight: bold;
   width: 394px;
   height: 300px;
   margin-left: 96px;
   margin-bottom: 0%;
}

/* Define el formato de texto del párrafo de la página sobre nosotros*/
.parrafosobrenosotros{
   font-family: Jura;
   font-size: 20px;
   color: black;
   font-weight: bold;
   width: 394px;
   height: 300px;
   margin-left: 1500px;
   margin-top: 80px;
   }

/* Define el formato de texto del párrafo de la página beneficios*/
.parrafobeneficios{
   font-family: Jura;
   font-size: 20px;
   color: white;
   font-weight: bold;
   width: 394px;
   height: 300px;
   margin-left: 96px;
   margin-bottom: 0%;
}

/* Define el formato de texto del párrafo de la página donaciones*/
.parrafodonaciones{
   font-family: Jura;
   font-size: 20px;
   color: white;
   font-weight: bold;
   width: 394px;
   height: 300px;
   margin-left: 96px;
   margin-bottom: 0%;
}

/* Define el tamaño de los iconos de las redes sociales*/
footer img, .redesbeneficios img{
   width: 40px;
   height: 40px;
}

/* Define la posición de los íconos de las redes sociales de la página inicio*/
.footerinicio {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-content: center;
   margin-top: 14%;
}

/* Define la posición de los íconos de las redes sociales de la página servicio*/
.footerservicio {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-content: center;
   margin-top: 0px;
}

/* Define la posición de los íconos de las redes sociales de la página sobrenosotros*/
.footersobrenosotros {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-content: center;
   margin-top: 85px;
}

/* Define el tamaño del logo del footer de las donaciones*/
.logofooterdonaciones{
   width:296px;
   height:283px;
}

/*Define el tamaño, la distribucion, el color de fondo, el tipo de letra y la distribucion del texto de agradecimiento y las redes en el footer de la pagina donaciones */
.graciasyredesdonaciones h2{
   font-family: Paytone One;
   font-size: 80px;
   background-color: #5DFDCB;
   height: 250px;
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin:0px;
}

/* Define la distribucion de las redes en el footer de la pagina de donaciones*/
.redesdonaciones{
   background-color: #5DFDCB;
   display:flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 20px;
   height: 100px;
}

/* Define la distribucion del bloque de agradecimiento y redes y el logo*/
.footerdonaciones{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #5DFDCB;
   align-items: center;
   padding-top: 30px;
   margin-top:20px;
}


/* Define la distribución del párrafo y el bloque de iconos de las redes sociales*/
.mainbeneficios {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/* Define la distribución de los íconos de las redes sociales dentro del bloque de iconos*/
.redesbeneficios {
   display: flex;
   flex-direction: column;
}

/* Define el formato, tamaño y posición del formulario de la pagina contactanos*/
.formcontactanos{
   background-color: white;
   border-radius: 24px;
   border: none;
   width: 717px;
   height: 500px;
   margin-left: 103px;
}

/* Define el formato, tamaño y posición del cuadro del formulario de la pagina iniciar sesión*/
.forminiciarsesion{
   background-color: white;
   border-radius: 24px;
   border: none;
   width: 717px;
   height: 320px;
   margin-left: 598px;
}

/* Define el formato del texto del formulario de contactenos*/
form input{
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   border: none;
   margin: 30px;
}


/* Define el formato del area del mensaje del formulario de contactenos*/
form textarea{
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   border: none; 
   margin: 30px;
}

/* Define el formato del boton de enviar de los formularios de las paginas contactanos e iniciar sesión*/
.boton{
   background-color: #5DFDCB;
   border-radius: 15px;
   text-decoration: bold;
   padding: 20px;
   border: none;
   cursor: pointer;
}

/* Define el formato del boton de enviar de los formularios de las paginas contactanos e iniciar sesión cuando pasa el cursor por encima*/
.boton:hover{
   background-color: grey;
}

/* Define el formato del boton de registrarse para los que no tienen cuenta*/
.notenescuenta{
   font-family: Jura;
   background-color: white;
   opacity: 60%;
   margin-left: 850px;
   border: none;
   border-radius: 15px;
   width: 200px;
   text-align: center;
   padding: 10px;
}




